<% include ./partials/header %>

<div class="container">
	<h1>About:</h1>
	<p>
	</p>

	<p align=center>Divesh Kumar Soni</p>
	<p align=center>Luv Gulati</p>
	<p align=center>Utkarsh Jain</p>
	<p align=center>Mayank Maheshwari</p>
	<p align=center>MD. Rakib Hasan</p>
	<p align=center>Pooja Kumari</p>

	<p>
	created during The Grand Finale of Smart India Hackathon'17 and providing it to the government for free the young  technocrats under the banner of 'Stark' contributed towards Worlds biggest Digital Movement.
	</p>
</div>	

<% include ./partials/footer %>
 
