<% include ../partials/header %>

<div class="container">

    <header class="jumbotron">
		<div class="container">
            <h1>Welcome to Project Page</h1>
            <%if(currentUser){%>
                <%if(currentUser.role === "GovUser"){%>
                    <p>
                        <a class="btn btn-primary btn-large" href="/projects/new">Add a new Project</a>
                    </p>
                <%}%>    
            <%}%>
		</div>
	</header>

	<div class="row text-center">
            <% projects.forEach(function(project){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                	 <img src="<%= project.image %>" alt="Project" />
                    <div class="caption">
                    	<h4><%= project.title %></h4>
                    </div>
                    <p>
                        <a href="/projects/<%= project._id %>" class="btn btn-primary">More Info</a>
                    </p>
				</div>
            </div>
             <% }); %>
	</div>

</div>

<% include ../partials/footer %>
